/* Write your CSS here */
.vaccination-by-age-container {
  background-color: #1c1c2b;
  width: 100%;
  padding-top: 8px;
  padding-left: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.vaccination-by-age-container h1 {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 8px;
}
